body{
    background: #CEE6F3;
}
.nav-item{
    margin-right: 80px;
    font-size: 1rem;
}
.nav-link{
    color: #ffffff!important;
    font-family:sans-serif;
}
.nav-link:hover{
    background-color:rgb(191, 55, 40);
    color: #e4eff2 !important;
    min-width: fit-content;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 20px;
}

.navbar-brand{
    font-family: 'Sansita Swashed';
    font-size: 1.5rem;
    color: #ffffff!important;
}
.dec-content{
    background-color: rgb(191, 55, 40);
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 10rem;
    width: 40%;
}
.outer-content{
    height: 90vh;
    background-color: #213555;
    color: #ffffff;
    padding: 3rem;
    border-bottom-left-radius: 25rem;
    border-bottom-right-radius: 25rem;
    margin-bottom: 1vh;
}
.logo1{
    height: 8vh;
    width: 60%;
}
.logo-img{
    height: 60vh;
    width: 80%;
}
.get-started{
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 100%;

    background-color:#ffffff;
    ;
    color: #028dd2!important;
    transition: 0.3s;
}
.get-started-1{
    border-radius: 0.5rem;

    font-size: 100%;
    width: 10rem;
    height: 3rem;
    background-color:#ffffff;
    
    color: #028dd2!important;
    transition: 0.3s;
}

.get-started:hover{
    text-decoration: none;
    background-color: rgb(191, 55, 40);
    color: #ffffff!important;
    font-weight: bold;
    
}
.get-started-1:hover{
    text-decoration: none;
    background-color: rgb(191, 55, 40);
    color: #ffffff!important;
    font-weight: bold;
    
}